$color_1: white;
$font-family_1: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
  background: #000;
  color: $color_1;
  line-height: 1.5em;
  font-family: $font-family_1;
}
.wrap {
  width: 900px;
  margin: auto;
  margin: 15px auto;
}
.grid-tiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  img {
    width: 100%;
  }
}
